.submitButton {
    text-align: center;
    background-color: rgb(184, 237, 184);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    margin-left: 35%;
    width: 30%;

}

.btnRed {
    background-color: Red;
    color: white;
    border-radius: 7px;
}

.btnBlue {
    background-color: Blue;
    color: white;
    border-radius: 7px;
}

.centralDiv {
    width: 70%;
    margin-left: 15%;
}

.cardStyle {
    margin: 10px;
    background-color: bisque;
    border-style: solid;
    border-color: rgb(152, 126, 93);
}

div {
    padding: 15px;
    margin: 10px;
    background-color: bisque;
    border-style: solid;
    border-color: rgb(152, 126, 93);
}

body {
    background-color: rgb(247, 176, 118);
}

.spacer {
    background-color: rgb(251, 220, 183);
    padding: 10px;
    width: 40%;
}

.inputFieldSet1 {
    float: inline-end;
    width: 40%;
    margin-right: 30px;
    text-align: center;
}

.inputFieldSet2 {
    float: inline-end;
    width: 30%;
    margin-right: 30px;
    text-align: center;
}

.inputFieldSet3 {
    float: inline-end;
}


td,
tr {
    border: 1px solid;
    border-color: rgb(152, 126, 93);
    padding: 5px 15px 5px 15px;
    margin: 7px;
}

table {
    border: 1px solid;
    border-color: rgb(152, 126, 93);
    padding: 5px 5px 5px 5px;
    margin: 7px;
}

th {
    /*border: 1px solid black;*/
    border-color: rgb(152, 126, 93);
    padding: 5px 5px 10px 5px;
    margin: 7px;
}

#toDoListDiv {
    border-radius: 15px;
}